<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nsc.backend.mapper.CartMapper">
	
	<!-- 配置查找出cart，外键user，book一对一的resultMap -->
	<resultMap type="cart" id="cartResultMap">
		<id column="cart_id" property="cartId" />
		<result column="cart_joinCartTime" property="cartJoinTime"/>		
		<result column="cart_totalUndiscount" property="cartTotalUndiscount"/>		
		<result column="cart_unitPrice" property="cartUnitPrice"/>		
		<result column="cart_count" property="cartCount"/>
		<result column="cart_isCheck" property="cartIsCheck"/>
		<!-- 封装user信息 -->
		<association property="user" javaType="com.nsc.backend.entity.User">
			<id column="user_id" property="userId"/>
			<id column="user_openId" property="userOpenId"/>
			<id column="user_nickName" property="userNickName"/>
		</association>
		<!-- 如果存在可以不进行封装 -->		
		<association property="book" javaType="com.nsc.backend.entity.Book">
			<id column="book_id" property="bookId"/>
			<result column="book_ISBN" property="bookISBN"/>
			<result column="book_name" property="bookName"/>
			<result column="book_unitPrice" property="bookUnitPrice"/>
			<result column="book_preface" property="bookPreface"/>
			<result column="book_conBrief" property="bookConBrief"/>
			<result column="book_authorBrief" property="bookAuthorBrief"/>
			<result column="book_catalog" property="bookCatalog"/>
			<result column="book_author" property="bookAuthor"/>

			<!-- <result column="book_press" property="bookPress"/> -->

			<result column="book_pubTime" property="bookPubTime"/>
			<result column="book_priTime" property="bookPriTime"/>
			<result column="book_paper" property="bookPaper"/>
			<result column="book_packing" property="bookPacking"/>
			<result column="book_suit" property="bookSuit"/>
			<result column="book_stock" property="bookStock"/>
			<result column="book_validityPeriod" property="bookValidityPeriod"/>
		</association>	
		<!-- 封装distributor信息 -->
		<association property="distributor" javaType="com.nsc.backend.entity.Distributor">
			<id column="distributor_id" property="disId"/>
			<result column="distributor_press" property="disPress"/>
			<result column="distributor_province" property="disProvince"/>
			<result column="distributor_city" property="disCity"/>
			<result column="distributor_contact" property="disContact"/>
			<result column="distributor_conPhone" property="disConphone"/>
			<result column="distributor_landline" property="disLandline"/>
			<result column="distributor_note" property="disNote"/>
		</association>	
		<!-- 封装商店信息 -->	
		<association property="store" javaType="com.nsc.backend.entity.Store">
			<id column="store_id" property="storeId" jdbcType="INTEGER" />
    		<result column="store_sn" property="storeSn" jdbcType="VARCHAR" />
		</association>	
	</resultMap>
	<!-- 查找出bookId关联的cart表，如果不存在，创建新的cart保存，存在只需要改变count一个属性 -->
	<select id="getCartByBookId"  resultMap="cartResultMap">
		select 
		cart.* ,
		user.user_openId,
		user.user_id,
		book.book_id,
		book.book_name
		from cart ,user,book
		where cart.book_id = #{0}  	     
		and cart.user_openId = #{1}  
		
	</select>
	
	<!-- 根据cartId的list集合，将List<Cart>查询出来 -->
	<select id="findCartByList" resultMap="cartResultMap">
		SELECT
		cart.*,
		book.*,
		user.*
		from cart
		LEFT  JOIN book
		on cart.book_id = book.book_id
		LEFT  JOIN user
		on  cart.user_openId = user.user_openId
		where cart.cart_id  in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}			
		</foreach>
	</select>
	
	<!-- cartid查找出cart -->
	<select id="findCartByCartId" parameterType="Integer" resultMap="cartResultMap">
			select 
			cart.* from cart
			where cart_id = #{cartId}
	</select>
	
	<!-- storeid查找出被选中的cart -->
	<select id="findPayCartByStoreId" parameterType="Integer" resultMap="cartResultMap">
			select cart.*
			from  cart , book ,store
			where cart.cart_isCheck=1 
				and store.store_id=#{storeId}
				and book.store_id=store.store_id 
				and cart.book_id=book.book_id
	</select>
	
	<!--当用户修改购物车数量，更新购物车信息 -->	
	<update id="updateBookCount" parameterType="cart">
		update cart 
		<trim prefix="set" suffixOverrides=",">
			<if test="cartJoinTime!=null">cart_joinCartTime = #{cartJoinTime} ,</if>
			<if test="cartCount!=null"> cart_count= #{cartCount} ,</if>
			<if test="cartUnitPrice">cart_unitPrice = #{cartUnitPrice},</if>
			<if test="cartTotalUndiscount">cart_totalUndiscount = #{cartTotalUndiscount} ,</if>
			<if test="book!=null">book_id = #{book.bookId} ,</if>
			<if test="user!=null">user_openId = #{user.userOpenId} ,</if>
		</trim>
		where cart_id = #{cartId}
	</update>
	
	<!-- 下单时被选中的cart 需要改其是否被选中的状态 -->
	<update id="isCheck" parameterType="java.util.List">
		update cart 
			set cart_isCheck = 1 
		where cart_id in
		<foreach collection="list" item="item" open="(" close=")" separator="," index=""> 
            #{item}  
        </foreach>
	</update>
	
	<!-- 更新数据库中购物车信息 -->
	<update id="updateCart" parameterType="cart" >
		update cart 
		<trim prefix="set" suffixOverrides=",">
			<if test="cartJoinTime!=null">cart_joinCartTime = #{cartJoinTime} ,</if>
			<if test="cartCount!=null"> cart_count= #{cartCount} ,</if>
			<if test="cartUnitPrice">cart_unitPrice = #{cartUnitPrice},</if>
			<if test="cartTotalUndiscount">cart_totalUndiscount = #{cartTotalUndiscount} ,</if>
			<if test="book!=null">book_id = #{book.bookId} ,</if>
			<if test="user!=null">user_openId = #{user.userOpenId} ,</if>
		</trim>
		where book_id = #{book.bookId}
		and user_openId = #{user.userOpenId}
	</update>
	<!-- 保存购车信息到数据库 -->
	<insert id="saveCart" parameterType="cart" >
	  <selectKey resultType="Integer" order="AFTER" keyProperty="cartId">
          SELECT LAST_INSERT_ID()
      </selectKey>
		insert into cart
		<trim prefix="("  suffix=")"  suffixOverrides=",">
			<!-- cart_id 不先进行测试  -->
			<if test="cartId !=null">
				cart_id,
			</if>
			<if test="cartCount !=null">
				cart_count,
			</if>
			<if test="cartUnitPrice !=null">
				cart_unitPrice,
			</if>
			<if test="cartTotalUndiscount !=null">
				cart_totalUndiscount,
			</if>
			<if test="cartJoinTime !=null">
				cart_joinCartTime,
			</if>
			<if test="book!=null">
				book_id,
			</if>
			<if test="user!=null">
				user_openId,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cartId !=null">
				#{cartId },
			</if>
			<if test="cartCount !=null">
				#{cartCount },
			</if>			
			<if test="cartUnitPrice !=null">
				#{cartUnitPrice },
			</if>
			<if test="cartTotalUndiscount !=null">
				#{cartTotalUndiscount },
			</if>
			<if test="cartJoinTime !=null">
				#{ cartJoinTime},
			</if>
			<if test="book !=null">
				#{book.bookId },
			</if>
			<if test="user!=null">
				#{user.userOpenId },
			</if>
		</trim>
	</insert>
	<!--根据用户id将此用户的购物信息，查找出来 -->
	<select id="showCart" parameterType="String" resultMap="cartResultMap">
		<!-- select 
		c.*,
		b.book_ISBN,
		b.book_name,
		b.book_unitPrice,
		d.distributor_press,
		b.book_author,
		b.book_pubTime
		from cart c, book b, distributor d
		where user_openId = #{openId} 
		and c.book_id = b.book_id 
		and b.distributor_id = d.distributor_id -->
		
		
		select 
		c.*,
		b.book_ISBN,
		b.book_name,
		b.book_unitPrice,
		s.store_name,
		b.book_author,
		b.book_pubTime,
        b.store_id
		from cart c, book b, store s
		where user_openId = #{openId}
		and c.book_id = b.book_id 
		and b.store_id = s.store_id
	</select>
		
	<!--将list传向持久层，删除购物车信息 -->
	<delete id="deleteCart" >
		delete 
		from cart 
		where cart_id in
		<foreach collection="list" item="item"  open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<update id="updateIsDelete" parameterType="java.util.List">
		update cart 
			set cart_IsDeleted = 1
		where cart_id in
		<foreach collection="list" item="item" open="(" close=")" separator="," index=""> 
            #{item}  
        </foreach>
	</update>
	
	<update id="changeStatus" >
		update cart 
			set cart_IsDeleted = 1,
				cart_isCheck = 1
		where user_openId = #{0}
			and book_id = #{1}
	</update>
	
	<!-- <update id="updCount" parameterType="java.util.List">
	   update cart
	   set cart_count=
	       <foreach collection="list" item="item" separator=",">
	             #{item.count} 
	       </foreach>
	       where cart_id=
	       <foreach collection="list" item="item" separator=",">
	              #{item.cart_id}
	       </foreach>
	  
	</update> -->
	
	
	    <update id="updCount" parameterType="java.util.Map">
    		<foreach item="value" index="key" collection="map.entrySet()" separator=";" >
            UPDATE cart SET 
            <if test="value!=null">cart_count= ${value}  </if>
            WHERE cart_id= #{key}
        </foreach>
    	</update>
</mapper>


